*{
    margin: 0;
    padding: 0;
}

.body{
    background: url("../background.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    
    align-items: center;
}

#board{
    background: url("../background.jpg");
    background-size: cover;
    width: 90vmin;
    height: 90vmin;
    border: 5px solid  black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-left: 80px;

}

.head{
    background: url("../snakefavicon.png");
    background-size: cover;
    transform: scale(1.02);
  
}
.snake{
    background: url("../body.png");
    background-size: cover;
}
.food{
    background: url("../apple.png");
    background-size: cover;
}
#scoreBox{
    position: absolute;
    top: 70px;
    right: 450px;
    font-size: 39px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 9px;
    background-color: aqua;
}
#footer{
        position: absolute;
        bottom: 10px;
        right: 5px;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        
        border-radius: 100px;
        color: #3a2a1b;
    
    
}